/* ==========================================================================
   BASIC STYLE
   ========================================================================== */
   
html,
body{
    width: 100%;
    height: 100% !important;
    min-height: 100% !important;
}
body{
    
    font-family: "Open Sans", "Palatino", "Georgia", "Times New Roman", "Baskerville", serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
body.overflow-hidden{
    overflow: hidden;
}

::-moz-selection{ color: #fff; background:#dc4437; }
::selection{ color: #fff;   background:#dc4437; }
::-webkit-selection{ color: #fff;   background:#dc4437; }

header,section,footer {
    position: relative;
}

a{
    color: #dc4437;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
a:hover, a:focus {
    color: #bb2d21;
}
*:focus {
    outline: none;
}
    
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
h1,h2,h3{
    font-weight: 700;
}


/* ==========================================================================
   TYPOGRAPHY & UTILITY
   ========================================================================== */
   
h1.text-dark,
h2.text-dark,
h3.text-dark,
h4.text-dark,
h5.text-dark,
h6.text-dark,
p.text-dark,
.text-dark{
    color: #222222;
}
h1.text-white,
h2.text-white,
h3.text-white,
h4.text-white,
h5.text-white,
h6.text-white,
p.text-white,
.text-white{
    color: #ffffff;
}
h1.text-brand,
h2.text-brand,
h3.text-brand,
h4.text-brand,
h5.text-brand,
h6.text-brand,
p.text-brand,
.text-brand{
    color: #dc4437;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-normal{
    font-weight: normal;
}
.text-serif{
    font-family: "Vollkorn", "Palatino", "Georgia", "Times New Roman", "Baskerville", serif;
}
.text-sans-serif{
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 40.063em){
    .text-spacer{
        display: inline-block;
        text-align: center;
        width: 1.25rem;
        width: 20px;
    }
}

/* Buttons */
button, .button,
button.brand, .button.brand{
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    -webkit-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
    background-color: #dc4437;
    border-color: #bb2d21;
}
button:hover, button:focus, .button:hover, .button:focus ,
button.brand:hover, button.brand:focus, .button.brand:hover, .button.brand:focus {
    background-color: #bb2d21;
    outline:0;
}

button.ghost, .button.ghost {
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    background-color: transparent;
    border-color: #333;
    color: #333;
}
button.ghost:hover, button.ghost:focus, .button.ghost:hover, .button.ghost:focus {
    background-color: #333;
    color: white;
}
button.ghost.white, .button.ghost.white {
    border-color: #fff;
    color: #fff;
}
button.ghost.white:hover, button.ghost.white:focus, .button.ghost.white:hover, .button.ghost.white:focus {
    background-color: #fff;
    color: #333;
}
button.ghost.brand, .button.ghost.brand {
    border-color: #dc4437;
    color: #dc4437;
}
button.ghost.brand:hover, button.ghost.brand:focus, .button.ghost.brand:hover, .button.ghost.brand:focus {
    background-color: #dc4437;
    color: #fff;
}
button.clear, .button.clear {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
button.clear:hover, .button.clear:hover {
    background-color: #efefef;
}
.button.action{
    position: relative;
}
.button.action:after{
    position: absolute;
    width: 1px;
    height: 500px;
    bottom: -520px;
    left: 50%;
    content: '';
    background-color: #222222;
}
.button.white.action:after{
    background-color: #ffffff;
}

/* Displays */
.display-table{
    display: table;
    width: 100%;
    height: 100%;
}
.display-table-cell{
    display: table-cell;
    vertical-align: middle;
}
.padding-small{
    padding: 20px;
}
.padding-medium{
    padding: 60px;
}
.padding-large{
    padding: 100px;
}
.padding-t-small{
    padding: 20px 0 0;
}
.padding-t-medium{
    padding: 60px 0 0;
}
.padding-t-large{
    padding: 100px 0 0;
}
.padding-v-small{
    padding: 20px 0;
}
.padding-v-medium{
    padding: 60px 0;
}
.padding-v-large{
    padding: 100px 0;
}
.row-wide{
    max-width: 73.125rem;
}
.row-full-width{
    max-width: 100%;
}

.margin-b-none{
    margin-bottom: 0px!important;
}

/* Icons */
.icon.block{
    display: block;
    width: 100%;
    text-align: center;
}
.icon.large{
    font-size: 36px;
    font-size: 2.250rem;
}
.icon.xlarge{
    font-size: 48px;
    font-size: 3rem;
}
.icon.brand{
    color: #dc4437;
}
.action-buttons{
    margin-top: 40px;
    margin-top: 2.5rem;
}

/* Meta */
.meta{
    color: #999999;
    color: rgba(0,0,0,.75);
}

/* Form */
.form-ghost{}
.form-ghost input[type=text],
.form-ghost input[type=email],
.form-ghost textarea{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: 1px solid #222222;
}
.form-ghost .error input[type=text],
.form-ghost .error input[type=email],
.form-ghost .error textarea{
    margin-bottom: 16px;
    margin-bottom: 1rem;
    border: 1px solid #f04124;
    box-shadow: inset 0 0 0 1px #f04124;
}
.form-ghost input[type=text]:focus,
.form-ghost input[type=email]:focus,
.form-ghost textarea:focus{
    outline: none;
}
@media only screen and (min-width: 40.063em){
    .form-ghost input[type=text],
    .form-ghost input[type=email],
    .form-ghost textarea,
    .form-ghost .error input[type=text],
    .form-ghost .error input[type=email],
    .form-ghost .error textarea{
        margin-bottom: 24px;
        margin-bottom: 1.5rem;
    }
}

/* Progress Bar*/
.progress{
    height: 8px;
    margin-bottom: 1rem;
    padding: 0;
    border: none;
}
.progress .meter{
    background: #333333;
}

/* Alert */
.alert-box{
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

/* Tabs */
.tabs a{
    -webkit-transition: none;
    transition: none;
}
.tabs:not(.vertical) {
	border-bottom: 1px solid #dfdfdf;
}
.tabs:not(.vertical) dd, .tabs:not(.vertical) .tab-title {
	margin-bottom: -1px !important;
}
.tabs:not(.vertical) dd.active a, .tabs:not(.vertical) .tab-title.active a {
	border: 1px solid #dfdfdf;
	border-bottom: none;
}
.tabs.vertical dd.active a, .tabs.vertical .tab-title.active a {
	border: 1px solid #dfdfdf;
}
.tabs-content.vertical>.content {
	padding: 0.9375rem;
}
@media only screen and (min-width: 40.063em){
	.tabs:not(.vertical) .tab-title a span{
		display: inline !important;
	}
	.tabs.vertical dd a{
		border-right: 1px solid #dfdfdf;
	}
	.tabs.vertical dd.active a, .tabs.vertical .tab-title.active a {
		border-right-color: #ffffff;
	}
	.tabs-content.vertical>.content {
		padding: 0 0.9375rem;
	}
}

/* Colors */
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p,
.dark blockquote,
.dark blockquote cite,
.dark{
    color: #fff;
}
header,
.section{
    width: 100%;
    background: #ffffff;
    overflow: hidden;
}
header.dark,
.section.dark{
    background: #1d1d1d;
}
.section.dark h1,
.section.dark h2,
.section.dark h3,
.section.dark h4,
.section.dark h5,
.section.dark h6,
.section.dark p,
.section.dark a:not(.button),
.section.dark{
    color: #fff;
}
.section-title{
    margin-bottom: 80px;
    margin-bottom: 5rem;
}
.section-title h2{
    position: relative;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
}
.section-title h2:after{
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 6px;
    width: 40px;
    background: #dc4437;
    content: "";
}
.section-title.text-center h2:after{
    left: 50%;
    width: 40px;
    margin-left: -20px;
}
.section-title p{
    color: #222;
}
.section-title p:last-child{
    margin-bottom: 0;
}
.section.dark .section-title h2{
    color: #fff;
}
.section.dark .section-title p{
    color: #dfdfdf;
}

.subsection{
    width: 100%;
    background: #f5f5f5;
    overflow: hidden;
}
.subsection.dark{
    background: #1d1d1d;
}
.subsection.brand{
    background: #dc4437;
}
.subsection.light{
    background: #fff;
}
.subsection.dark h1,
.subsection.dark h2,
.subsection.dark h3,
.subsection.dark h4,
.subsection.dark h5,
.subsection.dark h6,
.subsection.dark p,
.subsection.dark,
.subsection.brand h1,
.subsection.brand h2,
.subsection.brand h3,
.subsection.brand h4,
.subsection.brand h5,
.subsection.brand h6,
.subsection.brand p,
.subsection.brand a:not(.button),
.subsection.brand{
    color: #fff;
}
.subsection h4.subsection-title{
    font-weight: 700;
    text-transform: uppercase;
}
.subsection p.subsection-desc{
    color: #999;
}
.subsection.dark p.subsection-desc,
.subsection.brand p.subsection-desc{
    color: #eaeaea;
}
.subsection .button.subsection-button{
    margin: 8px 0 0;
    margin: .5rem 0 0;
}
@media only screen and (min-width: 40.063em){
    .section-title h2{
        margin-bottom: 20px;
        margin-bottom: 1.25rem;
    }
    .section-title h2:after{
        bottom: -10px;
    }
	.section-title.text-center h2{
		margin-bottom: 40px;
		margin-bottom: 2.5rem;
	}
	.section-title.text-center h2:after{
		left: 50%;
		bottom: -20px;
		margin-left: -20px;
	}
    .subsection p.subsection-desc{
        margin-bottom: 0;
    }
}

/* Background Image */
.background-image {
    position:absolute;
    left:-10%;
    top:-10%;
    width:120%;
    height:120%;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}

/* Background Video */
.background-video {
    position:absolute;
    left:-10%;
    top:-10%;
    width:120%;
    height:120%;
}

/* Background Gradient */
.background-gradient{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity: .95;
	background: -webkit-linear-gradient(90deg, #bb2d21 10%, #dc4437 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #bb2d21 10%, #dc4437 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #bb2d21 10%, #dc4437 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #bb2d21 10%, #dc4437 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #bb2d21 10%, #dc4437 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb2d21', endColorstr='#dc4437',GradientType=0 ); /* IE6-9 */
}

/* Background Overlays */
.background-overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.25);
}
.background-overlay.shade-50{
    background:rgba(0, 0, 0, 0.50);
}
.background-overlay.shade-75{
    background:rgba(0, 0, 0, 0.75);
}
.background-overlay.shade-95{
    background:rgba(0, 0, 0, 0.95);
}



/* ==========================================================================
   PRELOADER
   ========================================================================== */

/* Animate CSS after page load */
.preload *{
    overflow: hidden;
    -webkit-transition: none !important;
    transition: none !important;
}
#preloader{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:99999; /* makes sure it stays on top */
    background-color:#fff; /* change if the mask should have another color then white */
}
.spinner{
    position:absolute;
    top:50%; /* centers the loading animation vertically one the screen */
    left:50%; /* centers the loading animation horizontally one the screen */
    margin:-35px 0 0 -35px; /* is width and height divided by two */
    width: 67px;
    height: 67px;
    background: url("../img/sitecore-preloader.png") no-repeat;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}
/* Hide element before animation */
.animate{
    visibility: hidden;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
}
/* Show element after animation */
.animated{
    visibility: visible;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}



/* ==========================================================================
   MAIN CONTAINER
   ========================================================================== */

#main {
    position: relative;
    display: block;
    z-index: 2;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#main.slide-out {
    /* the #main element slides to the left when the team bio is visible */
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
#main.slide-out .cd-overlay {
    /* the overlay layer gets visible when the team bio slides in */
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}
@media only screen and (min-width: 40.063em) {
    #main.slide-out {
        /* change in size of the team bio section */
		-webkit-transform: translateX(-600px);
		-ms-transform: translateX(-600px);
		transform: translateX(-600px);
    }
}
@media only screen and (min-width: 64.063em) {
    #main.slide-out {
		-webkit-transform: translateX(-800px);
		-ms-transform: translateX(-800px);
		transform: translateX(-800px);
    }
}



/* ==========================================================================
   NAVIGATION
   ========================================================================== */
   
/* Navigation Style */
#navigation-container{
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    background: #1d1d1d;
}
#navigation-container.navigation-white{
    border-bottom: 1px solid #dfdfdf;
    background: #ffffff;
}
#navigation-container.fixed{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.top-bar{
    height: 60px;
    line-height: 60px;
    background: #1d1d1d;
}
#main.slide-out .top-bar{
    display: none;
}
.top-bar .name,
.top-bar .name h1{
    height: 60px;
    line-height: 60px;
}
.top-bar .name .logo{
    padding-left: 12px;
    max-height: 45px;
}
.top-bar-section {
    left: 0;
    position: relative;
    width: auto;
}
.top-bar.expanded .title-area {
    background: #1d1d1d;
}
.fixed.expanded:not(.top-bar) .top-bar-section {
    margin-top: 60px;
}
.top-bar-section ul li {
    background: #1d1d1d;
}
.top-bar .top-bar-section ul li > a{
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    -webkit-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    font-size: 0.7525rem;
}
.top-bar .top-bar-section ul li.active > a {
    background: #dc4437;
}
.top-bar-section ul li > a.button.brand {
    background-color: #dc4437;
    border-color: #bb2d21;
}
.top-bar-section ul li > a.button.brand:hover, .top-bar-section ul li > a.button.brand:focus {
    background-color: #bb2d21;
}
.top-bar-section .has-form {
    height: 60px;
}
@media only screen and (min-width: 40.063em){
	.top-bar .top-bar-section .dropdown {
		opacity: 0.3;
		-webkit-transition: opacity 0.2s, -webkit-transform 0.5s;
		transition: opacity 0.2s, transform 0.5s;
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	.top-bar .top-bar-section .has-dropdown.hover>.dropdown,
	.top-bar .top-bar-section .has-dropdown.not-click:hover>.dropdown {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
    .top-bar .top-bar-section li:not(.has-form) a:not(.button) {
        line-height: 60px;
        background: #1d1d1d;
    }
    .top-bar .top-bar-section li:not(.has-form) a:not(.button):hover {
        background-color: #555555;
        background: #272727;
    }
    .top-bar .top-bar-section li.active:not(.has-form) a:not(.button) {
        background: #dc4437;
    }
    .top-bar .top-bar-section .has-form {
        background: #1d1d1d;
    }
    .top-bar .top-bar-section .has-dropdown > a:after {
        top: 30px
    }
    .top-bar input, .top-bar .button, .top-bar button {
        top: 16px;
    }
    .top-bar .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        background: #1d1d1d;
    }
    .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        background-color: #555555;
        background: #272727;
    }
}

/* White Navigation */
.navigation-white .top-bar{
    background: #ffffff;
    color: #222222;
}
.navigation-white .top-bar .title-area {
    background: #ffffff;
    border-bottom: 1px solid #dfdfdf;
}
.navigation-white .top-bar .name h1 a{
    color: #222222;
}
.navigation-white .top-bar .top-bar-section ul li {
    background: #ffffff;
}
.navigation-white .top-bar .top-bar-section ul li > a:not(.button) {
    color: #222222;
}
.navigation-white .top-bar .toggle-topbar.menu-icon a {
    color: #222222;
}
.navigation-white .top-bar .toggle-topbar.menu-icon a span:after {
    box-shadow: 0 0px 0 1px #222222, 0 7px 0 1px #222222, 0 14px 0 1px #222222;
}
.navigation-white .top-bar .top-bar-section .has-dropdown > a:after {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.4);
}
.navigation-white .top-bar .top-bar-section .dropdown li.title h5 a,
.navigation-white .top-bar .top-bar-section .dropdown li.parent-link a {
    color: #222222;
}
.navigation-white .top-bar .top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #efefef;
    background: #efefef;
    color: #222222;
}
.navigation-white .top-bar .top-bar-section li.active:not(.has-form) a:not(.button) {
    color: #dc4437;
    background: #ffffff;
}
.parent-link.js-generated{
    display: none !important;
}

@media only screen and (min-width: 40.063em){
    .navigation-white .top-bar .title-area {
        border-bottom: none;
    }
    .navigation-white .top-bar .top-bar-section li:not(.has-form) a:not(.button) {
        color: #222222;
        background: #ffffff;
    }
    .navigation-white .top-bar .top-bar-section li:not(.has-form) a:not(.button):hover {
        color: #222222;
        background-color: #efefef;
        background: #efefef;
    }
    .navigation-white .top-bar .top-bar-section .has-dropdown > a:after {
        border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent
    }
    .navigation-white .top-bar .top-bar-section .dropdown {
        border: 1px solid #dfdfdf;
    }
    .navigation-white .top-bar .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        background: #ffffff;
    }
    .navigation-white .top-bar .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        background-color: #efefef;
        background: #efefef;
    }
}



/* ==========================================================================
   HERO
   ========================================================================== */

#hero-slider{
    position: relative;
    height: 100%;
    margin-left: 0;
}

/* Rotating Text */
.rotating-text{
    margin-left: 0;
}



/* ==========================================================================
   ABOUT
   ========================================================================== */

#about .featured-image{
    position: relative;
    text-align: center;
    border-bottom: 1px solid #fefefe;
    overflow: hidden;
}

#about .featured-image:after{
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 100%;
    height: 150px;
    content: '';
    border-radius: 50%;
    box-shadow:0 0 75px rgba(0, 0, 0, 0.5);
}

/* Featured Carousel */
#featured-carousel{
    padding-top: 60px;
    padding-top: 3.75rem;
}



/* ==========================================================================
   TEAM
   ========================================================================== */

.team-person{
    position: relative;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    text-align: center;
    overflow:hidden;
}
.team-person a{
    display: block;
    width: 100%;
    height: 100%;
}
.team-person img{
    width: 100%;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.team-person a:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.team-person .team-person-info{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgb(220, 68, 55);
    background: rgba(220, 68, 55, .95);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.team-person a:hover .team-person-info{
    opacity: 1;
}
.team-person .team-person-info .team-person-info-detail {
    opacity: 0;
    -webkit-transform: translateY(65%);
    -ms-transform: translateY(65%);
    transform: translateY(65%);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;

}
.team-person a:hover .team-person-info .team-person-info-detail{
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.team-person .team-person-info .team-person-info-detail .name,
.team-person .team-person-info .team-person-info-detail .position{
    color: #fff;
}
.team-person .team-person-info .team-person-info-detail .position{
    font-family: "Vollkorn", "Palatino", "Georgia", "Times New Roman", "Baskerville", serif;
}

/* Team Bio */
.team-bio {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* smooth scrolling on mobile phones and tablets */
    -webkit-overflow-scrolling: touch;
    background: #ffffff;
    z-index: 1;
    /* this how we move the team bio section off the canvas */
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.team-bio.slide-in {
    /* the team bio section slides in when the user clicks on the team member picture */
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.team-bio img {
    width: 100%;
    display: block;
}
.team-bio .team-bio-content {
    padding: 2em;
}
.team-bio .team-bio-content h1 {
    position: relative;
    text-transform: uppercase;
}
@media only screen and (min-width: 40.063em) {
    .team-bio {
    width: 600px;
    -webkit-transform: translateX(600px);
    -ms-transform: translateX(600px);
    transform: translateX(600px);
    }
    .team-bio .team-bio-content {
        padding: 2em 4em;
    }
}
@media only screen and (min-width: 64.063em) {
  .team-bio {
    width: 800px;
    -webkit-transform: translateX(800px);
    -ms-transform: translateX(800px);
    transform: translateX(800px);
  }
  .team-bio .team-bio-content {
    padding: 4em 8em;
  }
  .no-cssgradients .team-bio .team-bio-content {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.team-bio-close {
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: fixed;
    top: 10px;
    right: 10px;
    background: url("../img/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 3;
    display: none;
}
.team-bio-close.is-visible {
	display: block;
	-webkit-animation: cd-move-in 0.8s;
	animation: cd-move-in 0.8s;
}
@media only screen and (min-width: 64.063em) {
  .team-bio-close {
    right: 20px;
    top: 20px;
  }
}

.cd-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    cursor: pointer;
    display: none;
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}


/* ==========================================================================
   SKILLS
   ========================================================================== */

.skills-bar {
    margin: 0px;
}
.skills-bar li {
    list-style: none;
}
.skills-bar li:last-child span {
    margin-bottom: 0px;
}
.skills-bar li .bar-wrap {
    margin-bottom: 28px;
    background: rgba(0,0,0,.1);
}
.skills-bar li span {
    position: relative;
    height: 8px;
    width: 0px;
    display: block;
    overflow: visible !important;
}
.skills-bar li span strong {
    position: absolute;
    right: -21px;
    top: -28px;
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #666;
    background: #fff;
    display: block;
    padding: 4px 8px;
    opacity: 0;
    border-radius: 4px;
}
.skills-bar li span strong:after {
    position: absolute;
    left: 16px;
    bottom: -4px;
    display: block;
    width: 0;
    content: "";
    border-color: #fff transparent;
    border-style: solid;
    border-width: 5px 5px 0;
}
.skills-bar li span strong.full:after {
    left: 20px;
}
.skills-bar li span {
    background: #dc4437;
}



/* ==========================================================================
   SERVICE
   ========================================================================== */

.service-block .service-item{
    padding: 20px 16px;
    padding: 1.25rem 1rem;
    overflow: hidden;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}
.service-block .service-item .service-icon{
    color: #dc4437;
    margin-right: 12px;
    margin-right: .75rem;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.service-block .service-item:hover{
    background: #dc4437;
}
.service-block .service-item .service-desc{
    overflow: hidden;
}
.service-block .service-item .service-desc p{
    margin-bottom: 0;
}
.service-block .service-item:hover .service-icon,
.service-block .service-item:hover .service-desc,
.service-block .service-item:hover .service-desc h4{
    color: #fff;
}
@media only screen and (min-width: 40.063em) {
    .service-block .service-item .service-icon{
        float: left;
    }
}


/* ==========================================================================
   STATISTIC
   ========================================================================== */
   
.statistic-block .statistic-item{
    height: 160px;
    text-align: center;
}
.statistic-block .statistic-item .statistic-info{
    color: #999;
}



/* ==========================================================================
   WORKS
   ========================================================================== */

.filtering { text-align: center; display: none; margin-left: 0}
.filter {
    position: relative;
    display: inline-block;
    margin: 0 16px 24px 16px;
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    opacity: .35;
    filter: alpha(opacity=35);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.filter.active,
.filter:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.filter.active:after{
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    background: #dc4437;
}
.work-grid {
	margin: 0;
	text-align: center;
	font-size: 0;
}
.work-item {
	display: inline-block;
	margin: 0;
    overflow: hidden;
}
.work-item a {
	position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.work-item a:hover { 
    cursor: url('../img/cursors/cursor.png') 30 30, crosshair;
}
.work-item a img {
    width: 100%;
    -webkit-transition: all0.3s ease-out;
    transition: all 0.3s ease-out;
}
.work-item a:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.work-item a .work-info {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(220, 68, 55);
    background: rgba(220, 68, 55, .95);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.work-item a:hover .work-info {
    opacity: 1;
}
.work-item a .work-info .work-info-detail  {
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(65%);
    -ms-transform: translateY(65%);
    transform: translateY(65%);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.work-item a:hover .work-info .work-info-detail  {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.work-item a .work-info .work-info-detail  h4,
.work-item a .work-info .work-info-detail  p{
    color: #fff;
}
.work-item a .work-info .work-info-detail  p{
    margin-bottom: 0;
}
.work-item a .work-info .work-info-detail h4:after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .75);
    margin: 10px auto;
}
.thumbnail {
    width: 100%;
}
.mix { opacity: 0; display: none; }
.gap{
	display: inline-block;
    width: 100%;
	height: 0;
	margin: 0;
}
@media only screen and (min-width: 40.063em) {
    .filtering { display: block; }
    .thumbnail,.gap { width: 50%; }
}
@media only screen and (min-width: 64.063em) {
    .thumbnail,.gap { width: 33.3333333%; }
}



/* ==========================================================================
   CLIENTS
   ========================================================================== */

#clients{}
#testimony-carousel .item{
    text-align: center;
}
#testimony-carousel img{
    margin-bottom: 10px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(8,8,8, .3);
}
#testimony-carousel blockquote{
    font-size: 24px;
    font-size: 1.5rem;
    border-left: none;
    padding: 0 1.25rem;
}
#testimony-carousel blockquote span:before
{
    content: '\201C';
}
#testimony-carousel blockquote span:after
{
    content: '\201D';
}
#testimony-carousel blockquote cite{
    margin-top: 10px;
}
#testimony-carousel blockquote cite:after{
    content: "\0020 \2014";
}



/* ==========================================================================
   PRICING TABLE
   ========================================================================== */

.pricing-table{
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    border: 1px solid #cccccc;
    border-radius: 8px;
}
.dark .pricing-table{
    border: 1px solid #333;
}
.pricing-table li:first-child{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.pricing-table li:last-child{
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.pricing-table .price,
.pricing-table .title{
    padding: 40px;
    padding: 2.5rem;
}
.pricing-table .price{
    background: #efefef;
    font-weight: 700;
}
.pricing-table .description,
.pricing-table .bullet-item{
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    border: 1px solid #efefef;
}
.pricing-table .bullet-item i{
    display: block;
}
.pricing-table .cta-button{
    background: #efefef;
}
.pricing-table.brand .title{
    background: #dc4437;
}
.pricing-table.brand .cta-button{
    background: #efefef;
}



/* ==========================================================================
   TWITTER FEED
   ========================================================================== */

#twitter-feed{
    min-height: 60px;
}
#twitter-feed .user span{
    display: none;
}
#twitter-feed .user span:last-child,
#twitter-feed .user span[data-scribe="element:screen_name"]{
    display: block;
	font-size: 24px;
	font-size: 1.5rem;
    margin-bottom: 0.83333rem;
}
#twitter-feed .user img{
    display: none;
}
#twitter-feed .timePosted{
    color: #dfdfdf;
    font-size: .75rem;
    font-size: 12px;
	margin-bottom: 0;
}
#twitter-feed .tweet{
    padding: 0 20px;
}
#twitter-feed .tweet a{
    color: #dfdfdf;
}
#twitter-feed .tweet a:hover{
    color: #999999;
}



/* ==========================================================================
   CONTACT
   ========================================================================== */

#contact{}

.contact-address{
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.contact-address li{
    position: relative;
    padding: 8px;
    border-bottom: 1px solid #efefef;
}
.contact-address li .address-icon{
    position: absolute;
    top: 10px;
    left: 0;
    color: #999999;
}
.contact-address li .address-detail{
    margin-left: 24px;
}



/* ==========================================================================
   MAP
   ========================================================================== */
   
#map-block{
    position: relative;
    height: 100px;
    overflow: hidden;
}
#map{
    width: 100%;
    height: 300px;
    background: #eaeaea;
}
#map img{ max-width: none !important; }

#map .map-info{
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
#map .map-address,
#map .map-tel,
#map .map-mail{
    padding: 4px;
}

#map-block .map-open{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.75);
    -webkit-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}
.touch #map-block .map-open{ background: rgba(0,0,0,0.65); }
#map-block .map-open .icon{
    display: block;
    line-height: 115px;
}
#map-block .map-open:hover{
    background: rgba(0,0,0,0.65);
}
#map-block .map-close{
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: 100px;
    height: 32px;
    font-size: .75rem;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    margin-left: -50px;
    padding: 8px;
    color: #333333;
    background: rgba(255,255,255,.75);
    border: 1px solid #fefefe;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 0 2px rgba(8,8,8, .3);
    display: none;
}
#map-block .map-close:hover{
    background: rgba(220,220,220,.75);
    border-color: #dfdfdf;
}
#map-block .map-close .icon-map{
    margin-right: 2px;
}

/* ==========================================================================
   PAGE
   ========================================================================== */
 
.page-head-meta{
    font-weight: normal;
}
.page-head-title a,
.page-head-meta a{
    color: #ffffff;
}
.page-head-title a:hover,
.page-head-meta a:hover{
    color: #999999;
}

.post .post-title{
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}
.post .post-title a{
    color: #333;
}
.post .post-title a:hover{
    color: #bb2d21;
}
.post .meta{
    color: #999;
    font-size: .75rem;
    font-size: 12px;
}
.post .post-meta{
    margin-bottom: 1.25rem;
    margin-bottom: 20px;
}
.post .post-single{
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #eaeaea;
}

.post .post-single.post-detail{
    margin-bottom: 0;
    padding-bottom: 40px;
}
.post .post-detail .post-content p:first-child{
    font-size: 24px;
    font-size: 1.5rem;
}



/* ==========================================================================
   COMMENT
   ========================================================================== */
   
.comment {
    padding-top: 20px;
}
.comment .comment-list {
    margin: 0 0 40px 0;
    padding: 0;
}
.comment .comment-list li {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    clear: both;
}
.comment .comment-list ul {
    margin: 0 0 0 11%; /* relative value */
    padding: 0;
}
.comment .comment-list .comment-block {
    overflow: hidden;
    margin-bottom: 1.25em;
    border-bottom: 1px solid #eaeaea;
}
.comment .comment-list  .comment-avatar img {
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 50%;
}
.comment .comment-list .comment-reply{
    margin-bottom: 1em;
    font-size: 12px;
    font-size: .75rem;  
}
.comment .comment-list .comment-head .comment-date{
    color: #999999;
    font-size: 12px;
    font-size: .75rem;  
}
.comment .subheader,
.comment-form .subheader{
    margin-bottom: 2.5rem;
}



/* ==========================================================================
   SIDEBAR
   ========================================================================== */
   
.sidebar{
    padding-top: 80px;
    padding-top: 5rem;
}
@media only screen and (min-width: 40.063em){
    .sidebar{
        padding-top: 0;
    }
}
.widget{
    margin-bottom: 2.5rem;
}
.widget:last-child{
    border-bottom: none;
}
.widget .widget-title{
    text-transform: uppercase;
}
.widget .widget-title h3{
    font-size: 1.125rem;
    letter-spacing: 2px;
}
.widget.categories ul li,
.widget.archives ul li{
    padding: 8px 0;
    padding: 0.5rem 0;  
    border-bottom: 1px solid #eaeaea;
}
.widget.categories ul,
.widget.archives ul{
    margin-left: 0;
}
.widget.popular ul li{
    padding: 4px 0;
    padding: 0.25rem 0;
}
.popular-meta-date{
    display: block;
}
.post-tags a{
    display: inline-block;
    margin: 0 8px 8px 0;
    border: 2px solid #eaeaea;
    padding: 2px 8px;
    border-radius: 4px;
}

#search-input{
    border: 1px solid #333;
    border-right: none;
}
#search-input:focus{
    box-shadow: none;
}
#search-button{
    color: #333;
    background: transparent;
    border: 1px solid #333;
    border-left: none;
}



/* ==========================================================================
   PROJECT PAGE
   ========================================================================== */
   
.project-stats{
    font-size: 13px;
    font-size: 0.8125rem;
    margin-left: 0;
}
.project-stats li{
    padding: 8px;
    padding: 0.5rem;
    border-bottom: 1px solid #efefef;
}
.project-image{
    margin-bottom: 20px;
    margin-bottom: 1.25rem; 
}



/* ==========================================================================
   FOOTER
   ========================================================================== */
   
.footer{
    position: relative;
    color: #fff;
    background: #1d1d1d;
}
.footer.slide-out{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
.footer a{
    color: #fff;
}
.footer a:active,
.footer a:hover{
    color: #bb2d21;
}
.footer .logo{
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}
.footer .copyright-text{
    margin-bottom: 0;
}
@media only screen and (min-width: 40.063em){
	.footer .logo{
		margin-bottom: 0;
	}
    .footer .socials ul{
        float: right;
    }
}
.dummy-footer{
    position: relative;
    z-index: -2;
}
.overflow-hidden .dummy-footer{
    display: none;
}



.list-container {
          padding: 1em;
          width: 100%;
          font-family: 'FontSite Sans', sans-serif;

        }
        .list-container h1 {
          font-size: 1em;
        }

        ul.scale-up-hover-list {
          
          width: 100%;
          list-style-type: none;
          padding: 0;
          margin: 0;
        }

        .scale-up-hover-list li {
          margin: 0;
          padding: .75em;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
          float:left;
          width: 100%;
        }
        .scale-up-hover-list li::after {
          content: "";
          display: block;
          clear: both;
        }

        .scale-up-hover-list li:hover {
            
        }

        .scale-up-hover-list li .date {
          float: left;
          margin-right: 1em;
          max-width: 20%;
          text-align: center;
          padding:.5rem 1rem;
          background: #fff;
        }
        .scale-up-hover-list li .date .day {
          display: block;
          margin: .25em 0 0;
          font-size: 1.5rem;
          line-height: .75em;
          font-weight: 800;
          color: #de4330;
        }
        .scale-up-hover-list li .date .month {
          display: block;
          margin: .005em 0;
          
          font-size: 0.8rem;
          font-weight: 600;
        }
        .scale-up-hover-list li .item-info-container {
          float: left;
          max-width: 82%
        }
        .scale-up-hover-list li .item-info-container h1 {
          display: block;
          margin-top: 0;
          margin-bottom: 0;
          color: #fff;
          font-size: 1rem;
          padding-bottom: .5rem;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }
        .scale-up-hover-list li .item-info-container p.item-description {
          display: block;
          margin: 0;
          margin-top: .05em;
          width: 75%;
          color: #fff;
          font-size: 0.75rem;
        }
        .scale-up-hover-list li .item-info-container h1:hover {
          
        }


        .subsectionHig{
            background: #de4330;
        }

        .subsectionHig .subsection-title, .subsectionHig p.subsection-desc{
            color: #fff;
        }





.events{
    position: relative;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    text-align: center;
    overflow:hidden;
}
.events a{
    display: block;
    width: 100%;
    height: 100%;
}
.events img{
    width: 100%;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.events a:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.events .events-info{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgb(220, 68, 55);
    -webkit-transform: translateY(65%);
    padding: 0px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.events:hover .events-info{
    background: rgba(220, 68, 55, .95);
    -webkit-transform: translateY(0%);
    padding-top: 25px;
    
}

.events .events-info.past{
    background: #4A4A4A;   
}

.events:hover .events-info.past{
    background: #4A4A4A;   
}
.events a:hover .events-info{
    opacity: 1;
}
.events .events-info .events-info-detail {
    
    /*-webkit-transform: translateY(65%);
    -ms-transform: translateY(65%);
    transform: translateY(65%);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;*/

}
.events a:hover .events-info .events-info-detail{
    
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.events .events-info .events-info-detail .name,
.events .events-info .events-info-detail .position{
    color: #fff;
}
.events .events-info .events-info-detail .position{
    font-family: "Vollkorn", "Palatino", "Georgia", "Times New Roman", "Baskerville", serif;
}

.events-block .events a{
    
    padding: 20px;
    border:1px solid #fff;
}

.events-block .events i{
    color: #fff;
}


/* Team Bio */
.event-detail {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* smooth scrolling on mobile phones and tablets */
    -webkit-overflow-scrolling: touch;
    background: #ffffff;
    z-index: 1;
    /* this how we move the team bio section off the canvas */
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.event-detail.slide-in {
    /* the team bio section slides in when the user clicks on the team member picture */
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.event-detail img {
    width: 100%;
    display: block;
}
.event-detail .event-detail-content {
    padding: 2em;
}
.event-detail .event-detail-content h1 {
    position: relative;
    text-transform: uppercase;
}
@media only screen and (min-width: 40.063em) {
    .event-detail {
    width: 600px;
    -webkit-transform: translateX(600px);
    -ms-transform: translateX(600px);
    transform: translateX(600px);
    }
    .event-detail .event-detail-content {
        padding: 2em 4em;
    }
}
@media only screen and (min-width: 64.063em) {
  .event-detail {
    width: 800px;
    -webkit-transform: translateX(800px);
    -ms-transform: translateX(800px);
    transform: translateX(800px);
  }
  .event-detail .event-detail-content {
    padding: 4em 8em;
  }
  .no-cssgradients .event-detail .event-detail-content {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.event-detail-close {
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: fixed;
    top: 10px;
    right: 10px;
    background:#222 url("../img/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 3;
    display: none;

}
.event-detail-close.is-visible {
    display: block;
    -webkit-animation: cd-move-in 0.8s;
    animation: cd-move-in 0.8s;
}
@media only screen and (min-width: 64.063em) {
  .event-detail-close {
    right: 20px;
    top: 20px;
  }
}

.top-bar-section.social{
    left: 100px!important;
    display: none;
}
.fixed .top-bar-section.social{
    display: block;
}